<div class="div px-4 py-8">
  {% paginate collection.products by section.settings.number_of_products_per_page %}
    {% comment %} <h1 class="text-3xl text-center lowercase text-pink-200">{{collection.title}}</h1> {% endcomment %}

    <div class="max-w-6xl mx-auto">
        <h1 class="pl-3 py-3 text-2xl text-pink-200">artworks</h1>
        <div class="grid grid-cols-1 md:grid-cols-3">
        {% for product in collection.products %}
           {% render 'product-card' , product_product: product %}
            {%else%}
            <p class="text-gray-500"> there are no products inside of this collection </p>
        {% endfor %}
        </div>
    </div>
    
    {%render 'pagination', pagination: paginate %}
    {% endpaginate %}  
</div>


{% schema %}
{
    "name": "Template Collection",
    "settings": [
        {
            "type": "number",
            "id": "number_of_products_per_page",
            "default": 12,
            "label": "Number of Products Per Page"
        }
    ]
}
{% endschema %}
